<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Mars Mining</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->

</head>

<body>
  <p>Would you like to mine Mars?</p>

    <li><a href="{{ url_for('scrape') }}"> Yes! (link doesn't work due on Heroku due to unresolved chromedriver issue. :-(</a></li>
    <li><a href="https://icanhas.cheezburger.com/"> No thanks, I'd rather look at cats.</a></li>


</body>
</html>